/* body {
  font-family: "Arial", sans-serif;
}

.contact-footer {
  background: #ffdf40;
}
.contact-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-btn-primary {
  background-color: #ffdf40;
  border-color: #ffdf40;
}

.contact-btn-primary:hover {
  background-color: #e6c700;
  border-color: #e6c700;
}

.contact-form {
  background-color: #f8f9fa;
  background-color: #fff;
  padding: 20px;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form .form-group {
  margin-bottom: 1.5rem;
}

.contact-form label {
  margin-bottom: 0.2rem;
}
.contact-form .form-control {
  border-radius: 0px;
}

.contact-form .form-group textarea {
  resize: none;
}

@media (max-width: 576px) {
  .contact-btn-primary {
    width: 100%;
  }
} */
